@page
@model Microsoft.Identity.Web.UI.Areas.MicrosoftIdentity.Pages.Account.SignedOutModel
@{
    ViewData["Title"] = "Signed out";
}
<meta http-equiv="refresh" content="1;url=/" />
<h2>@ViewData["Title"]</h2>
<p>Signing out!!!!!!</p>

